@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  font-family: Montserrat, sans-serif;
  color: #252B42;
  font-weight: 500;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #FAFAFA;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
@font-face {
  font-weight: 700;
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.ttf");
}
@font-face {
  font-weight: 600;
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.ttf");
}
@font-face {
  font-weight: 500;
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.ttf");
}
@font-face {
  font-weight: 400;
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-weight: 800;
  font-family: "Montserrat ExtraBold";
  src: url("../fonts/Montserrat-ExtraBold.ttf");
}
/*-----------------------------------------------------------*/
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

/*-----------------------------------------------------------*/
._container {
  max-width: 1076px;
  margin: 0 auto;
  padding: 0px 15px;
}

._ibg {
  position: relative;
}
._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

/*------HEADER-------------------------------------------------------*/
.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  min-height: 104px;
  display: flex;
  align-items: center;
}
@media (max-width: 479px) {
  .header__container {
    min-height: 70px;
  }
}

.header__logo {
  color: inherit;
  font-size: 24px;
  font-weight: 700;
  line-height: 133%;
  letter-spacing: 0.1px;
}

.header__menu {
  margin: 0px 0px 0px 133px;
}
@media (max-width: 992px) {
  .header__menu {
    margin: 0px 0px 0px 80px;
  }
}
@media (max-width: 767px) {
  .header__menu {
    margin: 0px 0px 0px 40px;
  }
}
@media (max-width: 479px) {
  .header__menu {
    margin: 0px 0px 0px 20px;
  }
}

.menu {
  padding: 5px 0px;
}

.menu__list {
  display: flex;
  flex-wrap: wrap;
}

.menu__item:not(:last-child) {
  margin: 0px 21px 0px 0px;
}

.menu__link {
  color: #737373;
  font-weight: 600;
  line-height: 171%;
  letter-spacing: 0.2px;
}
@media (max-width: 479px) {
  .menu__link {
    font-size: 18px;
  }
}

/*------PAGE-------------------------------------------------------*/
.page {
  flex: 1 1 auto;
}

.page__services {
  margin: -111px 0px 0px 0px;
  position: relative;
  z-index: 2;
}

.page__clients:not(:last-child) {
  margin: 0px 0px 20px 0px;
}

/*------HEADER-BLOCK-------------------------------------------------*/
.header-block {
  text-align: center;
  letter-spacing: 0.2px;
}

.header-block__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 143%;
}
.header-block__title :not(:last-child) {
  margin: 0px 0px 10px 0px;
}
@media (max-width: 992px) {
  .header-block__title {
    font-size: 35px;
  }
}
@media (max-width: 767px) {
  .header-block__title {
    font-size: 30px;
  }
}

.header-block__sub-title {
  color: #737373;
  line-height: 143%;
}

/*------MAIN-BLOCK--------------------------------------------------*/
.main-block {
  position: relative;
}

.main-block__body {
  padding: 184px 0px 191px 0px;
  position: relative;
  z-index: 2;
  max-width: 400px;
}
.main-block__body > :not(:last-child) {
  margin: 0px 0px 35px 0px;
}
@media (max-width: 992px) {
  .main-block__body {
    padding: 120px 0px 191px 0px;
  }
}
@media (max-width: 479px) {
  .main-block__body {
    padding: 115px 0px 160px 0px;
  }
}

.main-block__title {
  font-size: 58px;
  font-weight: 800;
  line-height: 138%;
  letter-spacing: 0.2px;
}
@media (max-width: 479px) {
  .main-block__title {
    font-size: 42px;
  }
}

.main-block__text {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #737373;
}
@media (max-width: 479px) {
  .main-block__text {
    color: #585757;
  }
}

.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}

.main-block__button {
  border-radius: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 36px;
  min-height: 48px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.2px;
  text-align: center;
  margin: 10px 0px;
}
@media (min-width: 479px) {
  .main-block__button:not(:last-child) {
    margin-right: 10px;
  }
}
@media (max-width: 479px) {
  .main-block__button {
    flex: 1 1 100%;
  }
}

.main-block__button_orange {
  background-color: #FF7B47;
  color: #FFF;
}

.main-block__button_border {
  border: 1px solid #0D5C63;
  color: #0D5C63;
}

.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
@media (max-width: 1300px) {
  .main-block__image img {
    -o-object-position: right;
       object-position: right;
  }
}
@media (max-width: 992px) {
  .main-block__image img {
    opacity: 0.5;
  }
}

/*------Services-------------------------------------------------------*/
@media (min-width: 670px) {
  .services__body {
    display: flex;
    flex-wrap: wrap;
    margin: 0px -15px;
  }
}

.services__column {
  flex: 0 1 33.333%;
}
@media (min-width: 670px) {
  .services__column {
    padding: 0px 15px;
  }
}
@media (max-width: 992px) {
  .services__column {
    flex: 0 1 50%;
  }
  .services__column:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
  .services__column:last-child {
    flex: 1 1 100%;
  }
}

.services__item {
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
  background-color: #FFF;
  padding: 35px 40px;
  height: 100%;
}
.services__item > *:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
@media (max-width: 479px) {
  .services__item {
    padding: 25px;
  }
}

.item-service-green {
  background-color: #0D5C63;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
}
.item-service-green .item-service__title {
  color: #FFF;
}
.item-service-green .item-service__text {
  color: #FFF;
}

.item-service__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 133%;
  letter-spacing: 0.1px;
}

.item-service__text {
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}

/*------ADVANTAGES---------------------------------------------------*/
.advantages {
  padding: 80px 0px;
}
@media (max-width: 992px) {
  .advantages {
    padding: 50px 0px;
  }
}
@media (max-width: 767px) {
  .advantages {
    padding: 30px 0px;
  }
}

.advantages__header {
  margin: 0px 0px 50px 0px;
}
@media (max-width: 767px) {
  .advantages__header {
    margin: 0px 0px 25px 0px;
  }
}

.advantages__body {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px -30px;
}

.advantages__column {
  padding: 0px 15px;
  margin: 0px 0px 30px 0px;
  flex: 0 1 25%;
}
@media (max-width: 1020px) {
  .advantages__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 560px) {
  .advantages__column {
    flex: 0 1 100%;
  }
}

.advantages_item {
  padding: 30px;
  background-color: #FFF;
  text-align: center;
  font-weight: 700;
}
.advantages_item :not(:last-child) {
  margin: 0px 0px 10px 0px;
}

.advantages__icon {
  height: 48px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.advantages__value {
  font-size: 40px;
  line-height: 143%;
  letter-spacing: 0.2px;
}

.advantages__text {
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.1px;
  color: #737373;
}

/*------PRACTICE-----------------------------------------------------*/
.practice {
  padding: 125px 0px 80px 0px;
}
@media (max-width: 993px) {
  .practice {
    padding: 40px 0px 80px 0px;
  }
}
@media (max-width: 767px) {
  .practice {
    padding: 0px 0px 40px 0px;
  }
}

.practice__header {
  margin: 0px 0px 45px 0px;
}
@media (max-width: 767px) {
  .practice__header {
    margin: 0px 0px 25px 0px;
  }
}

.practice__body {
  margin: 0px -20px -30px;
  display: flex;
  flex-wrap: wrap;
}

.practice__column {
  padding: 0px 20px;
  margin: 0px 0px 30px 0px;
  flex: 0 1 25%;
}
@media (max-width: 1040px) {
  .practice__column {
    flex: 0 1 50%;
  }
}
@media (max-width: 630px) {
  .practice__column {
    flex: 0 1 100%;
  }
}

.item-practice {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.item-practice__content {
  padding: 30px;
  flex: 1 1 auto;
}

.item-practice__link {
  color: inherit;
  display: block;
}
.item-practice__link:not(:last-child) {
  margin: 0px 0px 15px 0px;
}
.item-practice__link:hover {
  text-decoration: underline;
}

.item-practice__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
  max-width: 135px;
}

.item-practice__text {
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}

.item-practice__image {
  display: block;
  padding: 0px 0px 60% 0px;
}

/*------WHO WE ARE---------------------------------------------------*/
.whoweare {
  padding: 100px 0px 100px 0px;
  background: #FFF;
}
@media (max-width: 950px) {
  .whoweare {
    padding: 50px 0px 50px 0px;
  }
}
@media (max-width: 757px) {
  .whoweare {
    padding: 20px 0px 50px 0px;
  }
}

.whoweare__header {
  margin: 0px 0px 100px 0px;
}
@media (max-width: 950px) {
  .whoweare__header {
    margin: 0px 0px 30px 0px;
  }
}

.whoweare__body {
  display: flex;
  align-items: flex-start;
}
@media (max-width: 950px) {
  .whoweare__body {
    flex-direction: column-reverse;
    align-items: stretch;
  }
}

.whoweare__video {
  flex: 0 0 57%;
  position: relative;
  padding: 0px 0px 42.26% 0px;
}
.whoweare__video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 950px) {
  .whoweare__video {
    padding: 0px 0px 56.25% 0px;
  }
  .whoweare__video:not(:last-child) {
    margin: 50px 0px 0px 0px;
  }
}
@media (max-width: 950px) and (max-width: 757px) {
  .whoweare__video:not(:last-child) {
    margin: 30px 0px 0px 0px;
  }
}

.whoweare__content {
  flex: 1 1 auto;
  margin: 20px 0px 0px 120px;
}
@media (max-width: 1080px) {
  .whoweare__content {
    margin: 0px 0px 0px 50px;
  }
}

.whoweare__top:not(:last-child) {
  margin: 0px 0px 50px 0px;
}
@media (max-width: 757px) {
  .whoweare__top:not(:last-child) {
    margin: 0px 0px 30px 0px;
  }
}

.whoweare__title {
  font-size: 40px;
  font-weight: 700;
  line-height: 143%;
  letter-spacing: 0.2px;
}
.whoweare__title:not(:last-child) {
  margin: 0px 0px 10px 0px;
}
@media (max-width: 950px) {
  .whoweare__title {
    font-size: 24px;
  }
}

.whoweare__text {
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}

.whoweare__item:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.item-whoweare {
  display: flex;
}

.item-whoweare__icon {
  flex: 0 0 32px;
}

.item-whoweare__body {
  flex: 1 1 auto;
  padding: 0px 0px 0px 20px;
}

.item-whoweare__title {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
}
.item-whoweare__title:not(:last-child) {
  margin: 0px 0px 5px 0px;
}

.item-whoweare__text {
  font-weight: 600;
  line-height: 171.43%;
  letter-spacing: 0.2px;
  color: #737373;
  white-space: nowrap;
  overflow: hidden;
  max-width: 222px;
  text-overflow: ellipsis;
}

/*------CLIENTS------------------------------------------------------*/
.clients__items {
  min-height: 175px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0px -15px;
}

.clients__item {
  padding: 30px 15px;
  flex: 0 1 16.6667%;
  text-align: center;
  min-width: 140px;
}
.clients__item img {
  max-width: 100%;
}

/*------SUBSCRIBE-------------------------------------------------------*/
.subscribe {
  position: relative;
  padding: 0px 0px 20px 0px;
}
.subscribe::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 100%;
  height: 77px;
  background-color: #252B42;
}

.subscribe__body {
  position: relative;
  z-index: 2;
  padding: 30px 50px 30px 40px;
  border-radius: 2px;
  background: #17213C;
}
@media (min-width: 1070px) {
  .subscribe__body {
    margin: 0 30px;
  }
}
@media (min-width: 810px) {
  .subscribe__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
@media (max-width: 810px) {
  .subscribe__body {
    margin: 0px -15px;
    padding: 20px 25px;
  }
}

.subscribe__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 133.333%;
  letter-spacing: 0.1px;
  color: #FFF;
}
@media (max-width: 810px) {
  .subscribe__title {
    margin: 0px 0px 20px 0px;
  }
}
@media (min-width: 810px) {
  .subscribe__title {
    max-width: 266px;
  }
}

.subscribe__form {
  flex: 0 1 50%;
  display: flex;
  align-items: center;
}

.subscribe__input {
  width: 100%;
  flex: 1 1 auto;
  min-height: 58px;
  padding: 0px 20px;
  border-radius: 5px 0px 0px 5px;
  border: 1px solid #E6E6E6;
  background-color: #F9F9F9;
  font-weight: 400;
  line-height: 200%;
  letter-spacing: 0.2px;
  border-right: 0;
}
.subscribe__input:focus {
  color: #000;
}
@media (max-width: 810px) {
  .subscribe__input {
    padding: 0px 15px;
  }
}

.subscribe__button {
  background: #FF7B47;
  border: 1px solid #E6E6E6;
  border-radius: 0px 5px 5px 0px;
  display: flex;
  min-height: 58px;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #FFF;
  padding: 0px 22px;
}
@media (max-width: 810px) {
  .subscribe__button {
    padding: 0px 15px;
  }
}

/*------GETINTOUCH-------------------------------------------------------*/
.getintouch {
  padding: 80px 0px 148px 0px;
}
@media (max-width: 992px) {
  .getintouch {
    padding: 50px 0px;
  }
}

.getintouch__header {
  margin: 0px 0px 80px 0px;
}
@media (max-width: 992px) {
  .getintouch__header {
    margin: 0px 0px 50px 0px;
  }
}
@media (max-width: 767px) {
  .getintouch__header {
    margin: 0px 0px 30px 0px;
  }
}

.getintouch__items {
  margin: 0 -15px;
}
@media (min-width: 992px) {
  .getintouch__items {
    display: flex;
    align-items: center;
    margin: 0px 30px;
  }
}

.getintouch__item {
  flex: 0 1 33.333%;
}

.item-getintouch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
  padding: 50px 40px;
}
.item-getintouch > :not(:last-child) {
  margin: 0px 0px 15px 0px;
}
@media (max-width: 767px) {
  .item-getintouch {
    padding: 30px 20px;
  }
}

.item-getintouch_active {
  background-color: #252B42;
  color: #fff;
  padding: 80px 40px;
}
@media (max-width: 992px) {
  .item-getintouch_active {
    padding: 50px 40px;
  }
}
@media (max-width: 767px) {
  .item-getintouch_active {
    padding: 30px 20px;
  }
}
.item-getintouch_active .item-getintouch__button {
  border-radius: 5px;
  border: 1px solid #FFF;
  color: #FFF;
}
.item-getintouch_active .item-getintouch__button:hover {
  border: 1px solid #FF7B47;
  background-color: #FF7B47;
  color: #fff;
}

.item-getintouch__emails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item-getintouch__email {
  font-weight: 600;
  line-height: 171.43%;
  letter-spacing: 0.2px;
  color: inherit;
}
.item-getintouch__email:hover {
  text-decoration: underline;
}

.item-getintouch__label {
  font-size: 16px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.1px;
}

.item-getintouch__button {
  font-weight: 600;
  line-height: 171.43%;
  letter-spacing: 0.2px;
  color: #FF7B47;
  border-radius: 5px;
  border: 1px solid #FF7B47;
  padding: 5px 20px;
  min-height: 44px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
}
.item-getintouch__button:hover {
  background-color: #FF7B47;
  color: #fff;
}

/*------CONTACT------------------------------------------------------*/
.contact {
  padding: 40px 0;
  background: #F3F3F3;
}

@media (min-width: 765px) {
  .contact__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.contact__content > :not(:last-child) {
  margin: 0px 0px 10px 0px;
}
@media (max-width: 765px) {
  .contact__content:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }
}

.contact__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 133.333%;
  letter-spacing: 0.1px;
}

.contact__text {
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}

@media (min-width: 765px) {
  .contact__wrapper {
    min-height: 58px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 977px) {
  .contact__wrapper {
    padding: 0 76px;
  }
}

.contact__button {
  display: block;
  border-radius: 5px;
  background-color: #FF7B47;
  color: #FFF;
  text-align: center;
  transition: background-color 0.3s ease 0s;
}
.contact__button:hover {
  background-color: #aa5330;
}
@media (max-width: 765px) {
  .contact__button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 0px;
  }
}
@media (min-width: 765px) {
  .contact__button {
    align-self: stretch;
    padding: 0px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

/*------FOOTER-------------------------------------------------------*/