@import "./nullstyle";

@font-face {
   font-weight: 700;
   font-family: "Montserrat";
   src: url("../fonts/Montserrat-Bold.ttf");
 }

 @font-face {
   font-weight: 600;
   font-family: "Montserrat";
   src: url("../fonts/Montserrat-SemiBold.ttf");
 }

 @font-face {
   font-weight: 500;
   font-family: "Montserrat";
   src: url("../fonts/Montserrat-Medium.ttf");
 }

 @font-face {
   font-weight: 400;
   font-family: "Montserrat";
   src: url("../fonts/Montserrat-Regular.ttf");
 }

 @font-face {
   font-weight: 800;
   font-family: "Montserrat ExtraBold";
   src: url("../fonts/Montserrat-ExtraBold.ttf");
 }
 
/*-----------------------------------------------------------*/
.wrapper {
   min-height: 100%;
   overflow: hidden;

   display: flex;
   flex-direction: column;
}
/*-----------------------------------------------------------*/
._container {
   max-width: 1076px;
   margin: 0 auto;
   padding: 0px 15px;
}

._ibg {
  position: relative;
  & img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
/*------HEADER-------------------------------------------------------*/

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;  
}
.header__container {  
  min-height: 104px;
  display: flex;
  align-items: center;
  @media (max-width: 479px) {
    & {
      min-height: 70px;
    }  
  }
}
.header__logo {
  color: inherit;
  font-size: 24px;
  font-weight: 700;
  line-height: 133%;
  letter-spacing: 0.1px;
}
.header__menu {
  margin: 0px 0px 0px 133px;
  @media (max-width: 992px) {
    & {
      margin: 0px 0px 0px 80px;
    }  
  }
  @media (max-width: 767px) {
    & {
      margin: 0px 0px 0px 40px;
    }  
  }
  @media (max-width: 479px) {
    & {
      margin: 0px 0px 0px 20px;
    }  
  }
}

.menu {
  padding: 5px 0px;
}
.menu__list {
  display: flex;
  flex-wrap: wrap;
}
.menu__item {
  &:not(:last-child) {
    margin: 0px 21px 0px 0px;
  } 
}
.menu__link {
  color: #737373;
  font-weight: 600;
  line-height: 171%;
  letter-spacing: 0.2px;
  @media (max-width: 479px) {
    & {
      font-size: 18px;
    }  
  }
}

/*------PAGE-------------------------------------------------------*/
.page {
  flex: 1 1 auto;
}

.page__main-block {
}

.page__services {
  margin: -111px 0px 0px 0px;
  position: relative;
  z-index: 2;
}
/*------MAIN-BLOCK--------------------------------------------------*/


.main-block {
  position: relative;
}
.main-block__container {
}

.main-block__body {
  padding: 184px 0px 191px 0px;
  position: relative;
  z-index: 2;
  max-width: 400px;
  & > :not(:last-child) {
    margin: 0px 0px 35px 0px;
  }

  @media (max-width: 992px) {
    & {
      padding: 120px 0px 191px 0px; 
    }
  }
}

.main-block__title {
  font-size: 58px;
  font-weight: 800;
  line-height: 138%;
  letter-spacing: 0.2px;

  @media (max-width: 479px) {
    & {
      font-size: 42px; 
    }
  }
}

.main-block__text {
  font-size: 20px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: #737373;
  @media (max-width: 479px) {
    & {
      color: #585757;
    }
  }
}
.main-block__buttons {
  display: flex;
  flex-wrap: wrap;
  margin: -10px 0;
}
.main-block__button {  
  border-radius: 37px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 36px;
  min-height: 48px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 0.2px;
  text-align: center;
  margin: 10px 0px;
  
  @media (min-width: 479px) {
    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  @media (max-width: 479px) {
    & {
      flex: 1 1 100%;
    }  
  }
}

.main-block__button_orange {
  background-color: #FF7B47;
  color: #FFF;
}

.main-block__button_border {
  border:1px solid #0D5C63;
  color: #0D5C63;
}
.main-block__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  @media (max-width:1300px) {
    & img{
      object-position: right;
    }
  }

  @media (max-width:992px) {
    & img{
      opacity: 0.5;
    }
  }
}

/*------Services-------------------------------------------------------*/

.services {
}
.services__container {
}
.services__body {
  @media (min-width: 670px) {  
    display: flex; 
    flex-wrap: wrap;
    margin: 0px -15px;
  }
}
.services__column {
  flex: 0 1 33.333%;

  @media (min-width: 670px) {
    padding: 0px 15px;
  }

  @media (max-width: 992px) {
    flex: 0 1 50%;  
    &:not(:last-child) {
      margin: 0px 0px 30px 0px;
    }
    &:last-child {
      flex: 1 1 100%;
    }
  }
}
.services__item {
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
  background-color: #FFF;
  padding: 35px 40px;
  height: 100%;

  & >*:not(:last-child) {
    margin: 0px 0px 10px 0px;
  }

  @media (max-width: 479px) {
    padding: 25px;
  }

}

.item-service {
}

.item-service-green {
  background-color: #0D5C63;
  box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
  
  & .item-service__title {
    color: #FFF;
  }

  & .item-service__text {
    color: #FFF;
  }

}

.item-service__icon {
}
.item-service__title {
  font-size: 24px;
  font-weight: 700;
  line-height: 133%;
  letter-spacing: 0.1px;
  
}
.item-service__text {
  line-height: 143%;
  letter-spacing: 0.2px;
  color: #737373;
}

/*------FOOTER-------------------------------------------------------*/
.footer {

}